footer.footer.bg-primary
  .py-3.container
    .row.align-items-center.justify-content-between
      .col-md-2.col-5
        .logo.footer__logo
      .col-md-6.col-7.fz-sm-14
        .text-light.copyright © 2020. All Rights Reserved.
      .col-md-4.d-md-block.d-none
        ul.nav.ml-auto.justify-content-end
          li.nav-item
            a.nav-link.text-light Product
          li.nav-item
            a.nav-link.text-light Blog
          li.nav-item
            a.nav-link.text-light Contact
