#productModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-body.text-center
        #msg.text-primary