.footer__banner
  .container.h-100.d-flex.align-items-end.pb-5
    .row.mb-5
      .col-12.d-flex.flex-column.justify-content-md-center
        p.fz-md-4.text-secondary 記得
          br
          | 訂閱以獲取更多資訊！
        .input-group.border.border-primary.rounded
          input.fz-md-2.py-4.form-control.border.border-primary.rounded-0(type="text" placeholder="Your email address")
          .input-group-append
            button.btn.btn-primary.rounded-0 Subscribe