aside.bg-light.sidebar
  .sidebar__logo
    img(src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week5/logo-ANSWER.svg")
  ul.sidebar__list
    li.sidebar__list__item
      a.text-dark(href="#")
        i.material-icons assessment
        span.ml-3.font-weight-bold Dashboard
    li.sidebar__list__item
      a.text-dark(href="#")
        i.material-icons question_answer
        span.ml-3.font-weight-bold Question
    li.sidebar__list__item
      a.text-dark.active(href="/hexschool_css/week5/dist/Assignment.html")
        i.material-icons assignment
        span.ml-3.font-weight-bold Assignment
    li.sidebar__list__item
      a.text-dark(href="#")
        i.material-icons video_library
        span.ml-3.font-weight-bold Course
    li.sidebar__list__item
      a.text-dark(href="/hexschool_css/week5/dist/Admin.html")
        i.material-icons supervisor_account
        span.ml-3.font-weight-bold Admin
    li.sidebar__list__item
      a.text-dark(href="#")
        i.material-icons settings
        span.ml-3.font-weight-bold Settings
  .mt-auto.p-4.sidebar__user
    .mr-3.user__img
      img.rounded-circle(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true")
    .sidebar__user__info
      .font-weight-bold.sidebar__user__info__name Andy Chen
      .text-secondary.sidebar__user__info__account andy0401@mail.com