footer.container
  .bg-light.px-5.py-3(
    data-aos="fade-up"
    data-aos-duration="200"
    data-aos-offset="-50"
  )
    .row
      .col-4.d-flex.align-items-center
        ul.nav.mr-auto
          li.nav-item
            a.nav-link.font-weight-bold(href="#") Product
          li.nav-item
            a.nav-link.font-weight-bold(href="#") Blog
          li.nav-item
            a.nav-link.font-weight-bold(href="#") contact
      .col-4.d-flex.align-items-center.justify-content-center
        p.text-secondary.m-0.copy-reserved © 2020 Fixie. All Rights Reserved.
      .col-4.d-flex.align-items-center
        .ml-auto
          include logo