nav.navbar.py-4.px-5.border-bottom.border-dark(
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="300"
)
  h1
    a.nvabar-brand
      include logo
  ul.nav.ml-auto
    li.nav-item
      a.nav-link.fz-md-3.font-weight-bold(href="#") Product
    li.nav-item
      a.nav-link.fz-md-3.font-weight-bold(href="#") Blog
    li.nav-item
      a.nav-link.fz-md-3.font-weight-bold(href="#") contact